// Imports //

@import '@/assets/scss/fonts.scss';

// Colour Variables //

$black: #000000 !default;

$white: #fff !default;

$navy-blue: #130b6a !default;

$primary-blue: #114c96 !default;

$red: #ff3846 !default;

$placeholder:#c6c6c6!default;

$active-black: #292929 !default;

$grey: #717171 !default;